// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$color-primary: #227093;
$color-secondary: #34ace0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f4f4f4;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #666;
$color-grey-dark-4: #555;
$color-grey-dark-5: #333;
$color-grey-dark-6: #222;


$color-black: #000;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem; 