// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* ----- LINKS ----- */
a {
    &:link,
    &:visited {
        padding-bottom: .9rem;
        text-decoration: none;
        font-size: $default-font-size - .3rem;
        //transition: all .2s;

        @include respond(phone) {
            font-size: $default-font-size + .3rem;
        }
    }

    &:hover,
    &:active {
        border-bottom: .2rem solid $color-primary;
    } 
}


.btn {
    padding: 1.5rem 3.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4.5rem;
    font-size: $default-font-size;
    outline: none;
    color: $color-grey-light-1;
    display: inline-block;
    
    @include respond(phone) {
        padding: 1.1rem 2.6rem;
    }

    @include respond(tab-port) {
        padding: 1.2rem 2.7rem;
    }
    
    &--learn-more {
        background-image: linear-gradient(to top left, rgba($color-primary, .5), rgba($color-secondary, .5));
        
        &:link,
        &:visited {
            //text-decoration: none;
            display: inline-block;
        }
        
        &:hover {
            border: none;
            background-image: linear-gradient(to top right, rgba($color-primary, .4), rgba($color-secondary, .4));
        }

        &:active {
            transform: scale(1.03); 
        }
    }
    
    &--show-more {
        background-image: linear-gradient(to top right, rgba($color-primary, .5), rgba($color-secondary, .5));

        &:active {
            transform: scale(1.03);    
        }
    } 
}